<!--<section id="grand-form" class="popup">-->
    <h3>Enter the big prize draw</h3>

    <div class="form">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>

    <div class="success">
        <p>Thank you for entering. Your details have been submitted and we will be in touch if you’re the winner</p>
        <a href="http://ba.com">Visit BA.com for discounts</a>
    </div>

    <div class="fail">
        <p>It seems something went wrong when trying to claim your prize.</p>
        <p>Please try again!</p>
    </div>
<!--</section>-->